* {
	padding: 0;
	margin: 0;
	border: 0;
	}

.wrap{ 
    margin: 100px;    
}

.btn{ 
    height: 50px;
    width: 110px;
    border-radius: 8px;
    color: aliceblue;
    font-size: medium;
    cursor: pointer;
    margin: 3px;
}

.btn--send{
    background-color: rgba(70, 28, 236, 0.55);
}

.btn--geo{
    background-color: rgba(70, 28, 236, 0.55);
}

.chat{
    display: flex;
    flex-direction: column;
    border-color: rgba(117, 8, 241, 0.306);
    border-style: outset;
    border-width: 7px;
    background-color: rgba(246, 219, 248, 0.384);
    border-radius: 10px;
    height: 600px;
    width: 470px;
    background-image: -webkit-linear-gradient( -110deg, #ee82ee12, #ff000049);
}

.chatheader{
    background-image: -webkit-linear-gradient( -110deg, #ee82ee22, #ff000068);
    border-radius: 10px;
    margin: 2px;
}

.inputfield{
    height: 50px;
    border-radius: 8px;
    margin: 5px; 
    border-style: outset;
    border-width: 1px;
    width: 205px;  
    padding-left: 3px; 
    
}
.messagearea{
    margin: 2px;
    
    
    
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.outMsg{
    background-color: rgb(241, 127, 241);
    border-radius: 15px;    
    align-self: flex-end;
    width: 135px;
    height: 45px;
    
}

.inMsg{
    background-color: rgba(133, 93, 244, 0.405);
    border-radius: 15px;
    
    align-self: flex-start;
    width: 135px;
    height: 45px;
}